 body {
  font-size: 50px;
  line-height: 100px;
  margin-left: 10%;
  overflow: scroll;
  /* font-family: "Istok Web", sans-serif; */
  font-family: "Vollkorn", serif;
}

.references {
  margin-bottom: 35px;
}

#work,
#contact,
#about,
.workArea {
  margin-left: 5%;
  margin-right: 5%;
}

#contact,
#about,
#work {
  margin-top: 45px;
}

.aboutText {
  font-size: 32px;
  line-height: 70px;
}

.aboutContact {
  font-size: 35px;
  line-height: 80px;
}

.referenceTitle {
  margin-bottom: 0px;
  text-align: right;
  margin-top: 110px;
}

.referenceText {
  font-size: 20px;
  line-height: 30px;
  text-align: right;
}

#aboutIconSection {
  position: relative;
  float: right;
}

.aboutIcons {
  color: black;
  margin: 25px;
}

#work {
  line-height: 100px;
}

.modal {
  transform: translate(-50%, -50%);
  position: fixed;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  background: white;
  border-style: solid;
  border-color: black;
  overflow-y: scroll;
}

.titleLinks:link {
  text-decoration: none;
  color: black;
}

.titleLinks:visited {
  color: black;
}

#email {
  color: #c21807;
  text-decoration: none;
}

.titleLinks:hover {
  color: grey;
}

.btn {
  /* margin-bottom: 0px; */
  right: 10px;
  top: 10px;
  width: 80px;
  height: 60px;
  /* margin-top: 2%; */
  /* margin-right: 5%; */

  font-size: 40px;
  position: absolute;
  z-index: 2;
  background-color: black;
  color: white;

  border-color: black;
}

#extradiv {
  background-color: white;
  height: 100%;
  width: 20px;
  right: 0;
  position: absolute;
  z-index: 4000;
}

.back {
  width: 100px;
  height: 80px;
  font-size: 45px;
  margin-top: 2%;
  position: relative;
  background-color: white;
}

.closephotobutton {
  background-color: white;
  color: black;
  position: absolute;
  height: 60px;
  width: 80px;
  border-style: solid;
  font-size: 45px;
  z-index: 3;
  right: -10px;
  top: -10px;
}

#siblingDiv {
  transform: translate(-50%, -50%);
  position: fixed;
  height: 600%;
  width: 600%;
  background-color: black;
  opacity: 0.00000001;
}

/* ***** */

.container {
  position: absolute;
}

#mobileMessageContent {
  position: fixed;
  left: 5%;
  right: 5%;

  text-align: center;
  z-index: 2;
  color: #ffbf00;
  margin: 12%;
  font-size: 80px;
  line-height: 130px;
  font-family: "Lobster", cursive;
  font-family: "Rubik", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Istok Web", sans-serif;
}

#someday {
  font-size: 50px;
  line-height: 0px;
}

#never {
  font-size: 30px;
  line-height: 35px;
}

#mobileGif {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
}

#juniorPosition {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}
/* **** */
@media only screen and (min-width: 601px) {
  .parentofimageandclose {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 30;
  }

  .photo {
    position: relative;
    max-width: 1000px;
    max-height: 600px;
    width: auto;
    height: auto;
    background: white;
    z-index: 3;
    border-style: solid;
    border-color: black;
    float: right;
    opacity: 1;
  }
}

.workArea {
  font-size: 30px;
  position: fixed;
  line-height: 60px;
  width: 95%;
  height: 99.9%;
  -webkit-scrollbarwidth: 0px -webkit-scrollbar-track-piece;
  background-color: transparent;
  -webkit-border-radius: 6px;
  /* overflow-y: scroll; */
}

.workContent {
  padding-top: 50px;
  padding-right: 5%;
}

.link {
  color: hotpink;
  text-decoration: none;
}

.link:visited {
  color: hotpink;
}

.link:hover {
  color: pink;
}

h4 {
  margin-bottom: -15px;
  margin-top: 52px;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 50px;
    font-size: 20px;
    line-height: 75px;
    text-align: center;
    margin-left: 0;
  }

  .aboutText,
  .aboutContact {
    font-size: 17.5px;
    line-height: 30px;
    text-align: center;
  }

  #workLinks {
    margin-top: -18px;
    font-size: 23px;
    line-height: 60px;
    text-align: center;
  }

  .titleLinks {
    font-size: 23px;
    line-height: 60px;
  }

  .parentofimageandclose {
    transform: translate(0%, 0%);
    position: relative;
    top: 20%;
    z-index: 300;
    width: 95%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid hotpink;
    border-bottom: 2px solid hotpink;
  }

  .photo {
    height: 100%;
    width: 100%;
    z-index: 400;
    position: relative;
  }

  .workArea {
    font-size: 15px;
    line-height: 25px;
  }

  .workContent {
    margin-top: 20px;
  }

  .back {
    width: 75px;
    height: 55px;
    float: left;
    z-index: 3000;
  }

  h3 {
    font-size: 20px;
  }

  .referenceTitle {
    margin-top: 15px;
    font-size: 14px;
  }

  .referenceText {
    font-size: 14px;
    line-height: 25px;
  }
  .references {
    margin-top: 45px;
    margin-right: 10px;
    margin-bottom: 25px;

  }

  .aboutTextSection {
    margin-top: -23px;
  }

  .closephotobutton {
    font-size: 30px;
    width: 45px;
    height: 35px;
    right: 0;
    top: -3px;
    z-index: 3000;
  }
  .modal {
    overflow-y: scroll;
  }

  .btn {
    right: 0;
    top: 0;
    width: 75px;
    height: 55px;
    margin-top: 2%;
    margin-right: 3%;
  }

  #aboutIconSection {
    position: relative;
    left: 1px;
    right: 1px;
  }

  .mainTitle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 38px;
  }
}

/* Dark theme */

.mailtoui-modal {
  background-color: rgba(250, 250, 250, 0.5);
  color: white;
  border-radius: 0px;
  font-size: 20px;
}

.mailtoui-modal-head {
  background-color: white;
}

.mailtoui-modal-title {
  color: black;
  font-size: 30px;
}
.mailtoui-modal-close:hover {
  color: white;
}

.mailtoui-modal-body {
  background-color: white;
  border-radius: 0px;
  width: 800px;
  font-family: "Vollkorn", serif;
}

.mailtoui-button-content {
  background-color: white;
  color: black;
}

.mailtoui-button-content {
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 0px;
  font-size: 30px;
  border-color: black;
  border-style: solid;
  padding-bottom: 50px;
}

.mailtoui-button-copy {
  height: 110px;
  background-color: white;
  color: black;
  border-radius: 0px;
  font-size: 30px;
  border-color: black;
  border-style: solid;
  width: 200px;
}

.mailtoui-email-address {
  border-style: solid;
  border-color: black;
  background-color: white;
  color: black;
  height: 110px;
  font-size: 30px;
  /* padding-top: 0px;
  padding-bottom: 30px; */
  text-align: center;
  border-radius: 0px;
  line-height: 60px;
}

.mailtoui-button:focus .mailtoui-button-content {
  background-color: white;
  color: black;
}

.mailtoui-button-content:hover,
.mailtoui-button-content:focus {
  background-color: white;
  color: black;
}

.mailtoui-modal-close:focus,
.mailtoui-modal-close:hover {
  color: pink;
}
.mailtoui-button-copy:hover {
  background-color: white;
  color: black;
}

.mailtoui-button-copy:focus {
  background-color: black;
  color: white;
}

#mailtoui-button-2,
#mailtoui-button-4 {
  display: none;
}

/* End dark theme */ */
