body {
  font-size: 50px;
  margin-left: 10%;
  line-height: 100px;
}

#work,
#contact,
#about,
.workArea {
  margin-left: 5%;
  margin-right: 5%;
}

.aboutText {
  font-size: 32px;
  line-height: 70px;
}

.aboutContact {
  font-size: 35px;
  line-height: 80px;
}

.referenceTitle {
  margin-bottom: 20px;
  margin-left: 30px;
  text-align: right;
  margin-top: 110px;
}

.referenceText {
  margin-left: 30px;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
}

#aboutIconSection {
  right: 20px;
  bottom: 10px;
  position: fixed;
}

.aboutIcons {
  color: black;
  margin-right: 50px;
}

#work {
  line-height: 100px;
}

.modal {
  transform: translate(-50%, -50%);
  position: fixed;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  background: white;
  border-style: solid;
  border-color: black;
}

.titleLinks:link {
  text-decoration: none;
  color: black;
}

.titleLinks:visited {
  color: black;
}

#email {
  color: blue;
}

.titleLinks:hover {
  color: grey;
}

.btn {
  width: 100px;
  height: 80px;
  /* margin-bottom: 0px; */
  right: -10px;
  top: -10px;
  /* margin-top: 2%; */
  /* margin-right: 5%; */

  font-size: 45px;
  position: absolute;
  z-index: 2;
  background-color: black;
  color: white;
  border-color: black;
}

#extradiv {
  background-color: white;
  height: 100%;
  width: 20px;
  right: 0;
  position: absolute;
  z-index: 1;
}

.back {
  width: 100px;
  height: 80px;
  font-size: 45px;
  margin-top: 2%;
  position: relative;
  background-color: white;
}

.closephotobutton {
  background-color: white;
  color: black;
  position: absolute;
  height: 60px;
  width: 80px;
  border-style: solid;
  font-size: 45px;
  z-index: 3;
  right: -10px;
  top: -10px;
}

#siblingDiv {
  transform: translate(-50%, -50%);
  position: fixed;
  height: 300%;
  width: 300%;
  background-color: black;
  opacity: 0.0000001;
}

#parentofimageandclose {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;
}

#container {
  position: absolute;
}

#mobileMessageContent {
  position: fixed;
  left: 5%;
  right: 5%;

  text-align: center;
  z-index: 2;
  color: #ffbf00;
  margin: 12%;
  font-size: 80px;
  line-height: 130px;
  font-family: "Lobster", cursive;
  font-family: "Rubik", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Istok Web", sans-serif;
}

#someday {
  font-size: 50px;
  line-height: 0px;
}

#never {
  font-size: 30px;
  line-height: 35px;
}

#not-desktop {
  display: none;
}

#mobileGif {
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
}

#juniorPosition {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}

.photo {
  /* transform: translate(-50%, -50%); */
  position: relative;
  max-width: 1000px;
  max-height: 600px;
  width: auto;
  height: auto;
  background: white;
  z-index: 3;
  border-style: solid;
  border-color: black;
  float: right;
  opacity: 1;
}
.workArea {
  font-size: 30px;
  position: fixed;
  line-height: 60px;
  width: 95%;
  height: 99.9%;
  -webkit-scrollbarwidth: 0px -webkit-scrollbar-track-piece;
  background-color: transparent;
  -webkit-border-radius: 6px;
  overflow-y: scroll;
}

.workContent {
  padding-top: 50px;
  padding-right: 5%;
}

.link {
  color: hotpink;
  text-decoration: none;
}

.link:visited {
  color: hotpink;
}

.link:hover {
  color: pink;
}

h4 {
  margin-bottom: -15px;
  margin-top: 52px;
}
